<div class="container">
    <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
    <label>Modele Voiture</label>
    <input type="text" class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)"  class="form-control">
    
    </div>
    <div class="container">
        <div class="card-body p-0">
            <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative">
          
              <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    
                    <th scope="col">Modele</th>
                    <th scope="col">Prix</th>
                    <th scope="col">coleur</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Relase Date</th>
                    
                  </tr>
                </thead>
                <tbody *ngFor="let voit of voiture ">
                  <tr>
                      <td>{{voit.modele }}</td>
                      <td>{{voit.prix}}</td>
                      <td>{{voit.coleur }}</td>
                      <td>{{voit.marque.nomMarque}}</td>
                      <td>{{voit.relaseDate| date:'shortDate'}}</td>
    
                  </tr>
                  
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
          