<div class="container" style="margin-top: 50px;">
    <h2>Ajout Form</h2>
    <div class="row">
        <div class="modal-body" >
       
            <span>Modele Voiture</span>
            <input   class="form-control"  type="text" name="Modele" [(ngModel)]="newvoiture.modele">
            <span>Prix Voiture</span>
            <input   class="form-control" type="text"  name="prix" [(ngModel)]="newvoiture.prix">
            <span>Coleur Voiture</span>
            <input   class="form-control" type="text"  name="coleur" [(ngModel)]="newvoiture.coleur">
            <span>Date creation</span>
            <input   class="form-control" type="date"  name="relaseDate" [(ngModel)]="newvoiture.relaseDate">
            <label>Marque</label>
            <select class="form-control " id="idMar" name="idMar"
            [(ngModel)]="newvoiture.idMarque">
             <option *ngFor="let mar of marques" [value]="mar.idMarque" >
             {{mar.nomMarque}}
            </option>
            </select>
                <label class="mb-2">Image :</label>
                <input type="file" (change)="onImageUpload($event)"
                name="logo" class="form-control">
                
                <div class="col-sm-16 col-md-16 col-lg-16">
                    <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
                    style="width: 500px; height: 300px" />
                    </div>
          </div>
            
          
          
          <button style="margin-top: 30px;" type="submit" value="Update" class="btn btn-primary " (click)="addVoiture()">Ajouter Voiture</button>
    </div>
    
</div>

