<div class="container">
<div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Marques </label>
    <select class="form-select" id="idCat" name="idCat"
    [(ngModel)]="IdMarque" (change)="onChange()">
    
    <option *ngFor="let marq of marques" value="{{marq.idMarque}}">
    {{marq.nomMarque}}
     </option>
    </select>
    </div>
</div>
    <div class="container">
    <div class="card-body p-0">
        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative">
      
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                
                <th scope="col">Modele</th>
                <th scope="col">Prix</th>
                <th scope="col">coleur</th>
                <th scope="col">Marque</th>
                <th scope="col">Relase Date</th>
                
              </tr>
            </thead>
            <tbody *ngFor="let voit of voiture ">
              <tr>
                  <td>{{voit.modele }}</td>
                  <td>{{voit.prix}}</td>
                  <td>{{voit.coleur }}</td>
                  <td>{{voit.marque.nomMarque}}</td>
                  <td>{{voit.relaseDate| date:'shortDate'}}</td>

              </tr>
              
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
      