<div class="container" style="margin-top: 100px;">
    <div class="card shadow mb-4">
    <div class="card-body">
        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
            <app-update-marque [marques]="updatedMarq" (marqueUpdated)= "marqueUpdated($event)" [ajout]="ajout"></app-update-marque>
            </div>
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Nom Marque</th><th>Pays Marque</th><th>Editer</th> </tr>
    </thead>
    <tbody *ngFor="let marq of marques">
    <tr>
    <td>{{marq.idMarque}}</td>
    <td>{{marq.nomMarque}}</td>
    <td>{{marq.paysMarque}}</td>
    <td><a class="btn btn-success" (click)="updateCat(marq)">Editer</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>